# Podstawy SQL

## 1. Podstawowe operacje SQL na przykładzie SQL lite

Import biblioteki

In [25]:
import sqlite3

Utworzenie bazy danych customers.db

In [26]:
# pomoc - patrz ściągawka
import sqlite3
with sqlite3.connect('customers.db') as conn:
    cursor = conn.cursor()
    cursor.execute('SELECT SQLITE_VERSION()')
    data = cursor.fetchone()
    print('SQLite version:', data)

SQLite version: ('3.38.2',)

Utwórz tabelę customers_data z polami:
- customer_id (TEXT)
- customer_name (TEXT)
- address (TEXT)
- balance (REAL)
- pin (INT)

In [27]:
with sqlite3.connect('customers.db') as conn:
    cursor = conn.cursor()
    cursor.execute('''CREATE TABLE IF NOT EXISTS CUSTOMERS_DATA
                  (customer_id TEXT, customer_name TEXT, address TEXT, balance REAL, pin INT)''')
    conn.commit()

Dodaj pierwszego klienta:
{"customer_id":'c_100', 'customer_name': 'Adam Kowalski', 'address': 'Warsaw', 'balance': 100, 'pin': 1234}

In [28]:
# patrz ściągawka
# podpowiedź - zamień słownik na krotkę
# pamiętaj o potrzebnych znakach zapytania

dct = {"customer_id":'c_100', 'customer_name': 'Adam Kowalski', 'address': 'Warsaw', 'balance': 100, 'pin': 1234}
dct2 = {"customer_id":'c_101', 'customer_name': 'Anna Dabrowska', 'address': 'Cracow', 'balance': 200, 'pin': 9317}
dct3 = {"customer_id":'c_102', 'customer_name': 'Agnieszka Nowa', 'address': 'Lublin', 'balance': 300, 'pin': 4444}
tup = [(dct["customer_id"], dct['customer_name'], dct['address'], dct['balance'], dct['pin']),
       (dct2["customer_id"], dct2['customer_name'], dct2['address'], dct2['balance'], dct2['pin']),
       (dct3["customer_id"], dct3['customer_name'], dct3['address'], dct3['balance'], dct3['pin'])]

print(tup)

data = [(1, 4.5), (2, 4.0), (3, 4.2)]

with sqlite3.connect('customers.db') as conn:
    cursor = conn.cursor()
    for row in tup:
        sql_statement = '''INSERT INTO customers_data(customer_id, customer_name, address, balance, pin) VALUES (?, ?,?,?,?) '''
        cursor.execute(sql_statement, row)
    conn.commit()
    cursor.close()

[('c_100', 'Adam Kowalski', 'Warsaw', 100, 1234), ('c_101', 'Anna Dabrowska', 'Cracow', 200, 9317), ('c_102', 'Agnieszka Nowa', 'Lublin', 300, 4444)]

Sprawdź wynik zapytania SELECT * FROM customers_data:

In [29]:
with sqlite3.connect('customers.db') as conn:
    cursor = conn.cursor()
    cursor.execute('''SELECT * FROM customers_data''')
    data=cursor.fetchall()
    for row in data:
        print(row)
        
    cursor.close()

('c_100', 'Adam Kowalski', 'Warsaw', 100.0, 1234)
('c_100', 'Adam Kowalski', 'Warsaw', 100.0, 1234)
('c_100', 'Adam Kowalski', 'Warsaw', 100.0, 1234)
('c_100', 'Adam Kowalski', 'Warsaw', 100.0, 1234)
('c_100', 'Adam Kowalski', 'Warsaw', 100.0, 1234)
('c_100', 'Adam Kowalski', 'Warsaw', 100.0, 1234)
('c_100', 'Adam Kowalski', 'Warsaw', 100.0, 1234)
('c_101', 'Anna Dabrowska', 'Cracow', 200.0, 9317)
('c_102', 'Agnieszka Nowa', 'Lublin', 300.0, 4444)
('c_100', 'Adam Kowalski', 'Warsaw', 100.0, 1234)
('c_101', 'Anna Dabrowska', 'Cracow', 200.0, 9317)
('c_102', 'Agnieszka Nowa', 'Lublin', 300.0, 4444)
('c_100', 'Adam Kowalski', 'Warsaw', 100.0, 1234)
('c_101', 'Anna Dabrowska', 'Cracow', 200.0, 9317)
('c_102', 'Agnieszka Nowa', 'Lublin', 300.0, 4444)
('c_100', 'Adam Kowalski', 'Warsaw', 100.0, 1234)
('c_101', 'Anna Dabrowska', 'Cracow', 200.0, 9317)
('c_102', 'Agnieszka Nowa', 'Lublin', 300.0, 4444)
('c_100', 'Adam Kowalski', 'Warsaw', 100.0, 1234)
('c_101', 'Anna Dabrowska', 'Cracow', 200.0, 9317)
('c_102', 'Agnieszka Nowa', 'Lublin', 300.0, 4444)
('c_100', 'Adam Kowalski', 'Warsaw', 100.0, 1234)
('c_101', 'Anna Dabrowska', 'Cracow', 200.0, 9317)
('c_102', 'Agnieszka Nowa', 'Lublin', 300.0, 4444)
('c_100', 'Adam Kowalski', 'Warsaw', 100.0, 1234)
('c_101', 'Anna Dabrowska', 'Cracow', 200.0, 9317)
('c_102', 'Agnieszka Nowa', 'Lublin', 300.0, 4444)

Dodaj dwóch innych użytkowników:

In [30]:
# {"customer_id":'c_101', 'customer_name': 'Anna Dabrowska', 'address': 'Cracow', 'balance': 200, 'pin': 9317}

In [31]:
# {"customer_id":'c_102', 'customer_name': 'Agnieszka Nowa', 'address': 'Lublin', 'balance': 300, 'pin': 4444}

Sprawdź, co teraz znajduje się w tabeli:

In [32]:
with sqlite3.connect('customers.db') as conn:
    cursor = conn.cursor()
    cursor.execute('''SELECT * FROM customers_data''')
    data=cursor.fetchall()
    for row in data:
        print(row)
        
    cursor.close()

('c_100', 'Adam Kowalski', 'Warsaw', 100.0, 1234)
('c_100', 'Adam Kowalski', 'Warsaw', 100.0, 1234)
('c_100', 'Adam Kowalski', 'Warsaw', 100.0, 1234)
('c_100', 'Adam Kowalski', 'Warsaw', 100.0, 1234)
('c_100', 'Adam Kowalski', 'Warsaw', 100.0, 1234)
('c_100', 'Adam Kowalski', 'Warsaw', 100.0, 1234)
('c_100', 'Adam Kowalski', 'Warsaw', 100.0, 1234)
('c_101', 'Anna Dabrowska', 'Cracow', 200.0, 9317)
('c_102', 'Agnieszka Nowa', 'Lublin', 300.0, 4444)
('c_100', 'Adam Kowalski', 'Warsaw', 100.0, 1234)
('c_101', 'Anna Dabrowska', 'Cracow', 200.0, 9317)
('c_102', 'Agnieszka Nowa', 'Lublin', 300.0, 4444)
('c_100', 'Adam Kowalski', 'Warsaw', 100.0, 1234)
('c_101', 'Anna Dabrowska', 'Cracow', 200.0, 9317)
('c_102', 'Agnieszka Nowa', 'Lublin', 300.0, 4444)
('c_100', 'Adam Kowalski', 'Warsaw', 100.0, 1234)
('c_101', 'Anna Dabrowska', 'Cracow', 200.0, 9317)
('c_102', 'Agnieszka Nowa', 'Lublin', 300.0, 4444)
('c_100', 'Adam Kowalski', 'Warsaw', 100.0, 1234)
('c_101', 'Anna Dabrowska', 'Cracow', 200.0, 9317)
('c_102', 'Agnieszka Nowa', 'Lublin', 300.0, 4444)
('c_100', 'Adam Kowalski', 'Warsaw', 100.0, 1234)
('c_101', 'Anna Dabrowska', 'Cracow', 200.0, 9317)
('c_102', 'Agnieszka Nowa', 'Lublin', 300.0, 4444)
('c_100', 'Adam Kowalski', 'Warsaw', 100.0, 1234)
('c_101', 'Anna Dabrowska', 'Cracow', 200.0, 9317)
('c_102', 'Agnieszka Nowa', 'Lublin', 300.0, 4444)

Zapytaj się o wybranego użytkownika za pomocą identyfikatora customer_id:

In [33]:
with sqlite3.connect('customers.db') as conn:
    cursor = conn.cursor()
    user=("c_100",)
    cursor.execute('''SELECT * FROM customers_data WHERE customer_id=(?)''',user)
    data=cursor.fetchall()
    for row in data:
        print(row)
        
    cursor.close()

('c_100', 'Adam Kowalski', 'Warsaw', 100.0, 1234)
('c_100', 'Adam Kowalski', 'Warsaw', 100.0, 1234)
('c_100', 'Adam Kowalski', 'Warsaw', 100.0, 1234)
('c_100', 'Adam Kowalski', 'Warsaw', 100.0, 1234)
('c_100', 'Adam Kowalski', 'Warsaw', 100.0, 1234)
('c_100', 'Adam Kowalski', 'Warsaw', 100.0, 1234)
('c_100', 'Adam Kowalski', 'Warsaw', 100.0, 1234)
('c_100', 'Adam Kowalski', 'Warsaw', 100.0, 1234)
('c_100', 'Adam Kowalski', 'Warsaw', 100.0, 1234)
('c_100', 'Adam Kowalski', 'Warsaw', 100.0, 1234)
('c_100', 'Adam Kowalski', 'Warsaw', 100.0, 1234)
('c_100', 'Adam Kowalski', 'Warsaw', 100.0, 1234)
('c_100', 'Adam Kowalski', 'Warsaw', 100.0, 1234)

## 2. Bankomat - wykorzystanie zapytań SQL

Przypomnij sobie kod z poprzedniego laboratorium:

In [34]:
def get_customer_data(customer_id):
    try:
        with open('customers_data.json', 'r') as file:
            file_content = json.load(file)
        return file_content[customer_id]
    except:
        return None
    
    
class Customer:
    
    def __init__(self, customer_id, customer_name, address, balance, pin):
        self.customer_id = customer_id
        self.customer_name = customer_name 
        self.address = address
        self.balance = balance 
        self.pin = pin

        
def get_customer_object(customer_id):
    
    try:
        data = get_customer_data(customer_id)

        cust = Customer(customer_id=customer_id, 
                        customer_name=data['customer_name'], 
                        address=data['address'], 
                        balance=data['balance'], 
                        pin=data['pin'])
    except:
        print("Error with creating customer")
        cust = None
        
    return cust

Zmień funkcję get_customer_data: dodaj odpytanie bazy danych zamiast odczytanie pliku:

In [35]:
def get_customer_data(customer_id):

    try:
        with sqlite3.connect('customers.db') as conn:
            cursor = conn.cursor()
            mytup=(customer_id,)
            cursor.execute('''SELECT * FROM customers_data WHERE customer_id=(?) ''',mytup)
            rows=cursor.fetchall()
            for row in rows:
                return row
            
        conn.commit()
        cursor.close()
    except:
        return None
    
    
class Customer:
    
    def __init__(self, customer_id, customer_name, address, balance, pin):
        self.customer_id = customer_id
        self.customer_name = customer_name 
        self.address = address
        self.balance = balance 
        self.pin = pin

        
def get_customer_object(customer_id):
    
    try:
        data = get_customer_data(customer_id)

        cust = Customer(customer_id=customer_id, 
                        customer_name=data[1], 
                        address=data[2], 
                        balance=data[3], 
                        pin=data[4])
    except:
        print("Error with creating customer")
        cust = None
        
    return cust

Przetestuj całość:

In [36]:
zm = get_customer_object("c_101")
print(zm.address)

Cracow

## 3. Dalszy refactoring

Zmień poniższe funkcje na funkcje wykorzystujące zapytania SQL:
- witdraw_money(amount)
- deposit_money(amount)

Obie funkcje powinny zwrócić zaktualizowany obiekt customer. Dla ułatwienia nie będą to metody klasy, a niezależne funkcje.

In [37]:
def witdraw_money(customer, amount):
    
    with sqlite3.connect('customers.db') as conn:
        cursor = conn.cursor()
        mytup=(customer.customer_id,)
        cursor.execute('''SELECT * FROM customers_data WHERE customer_id=(?) ''',mytup)
        rows=cursor.fetchall()
        for row in rows:
            customer.balance = row[3] - amount
            mytup2 = (row[3] - amount, customer.customer_id)         
            statement = '''UPDATE customers_data SET balance = (?) WHERE customer_id = (?) '''
            cursor.execute(statement,mytup2)
            conn.commit()
    cursor.close()
    
    return customer

Przetestuj funkcję:

In [38]:
zm = get_customer_object("c_100")
print(zm.balance)
witdraw_money(zm,32)
print(zm.balance)

100.0
68.0

Kod witdraw_money:

In [39]:
def witdraw_money(customer, amount):
    
    
    
    return customer

Przetestuj funkcję:

## 4. Rafactoring kodu

Funkcje get_customer_data i get_customer_object można uznać za niepotrzebne: usuń je, a kod umieść w init.

Zamień funkcje witdraw_money i deposit_money na metody.

# Ściągawka

Utworzenie bazy danych students i sprawdzenie wersji:

In [7]:
import sqlite3
with sqlite3.connect('customers.db') as conn:
    cursor = conn.cursor()
    cursor.execute('SELECT SQLITE_VERSION()')
    data = cursor.fetchone()
    print('SQLite version:', data)

SQLite version: ('3.37.2',)

Utworzenie przykładowej tabeli:

In [ ]:
with sqlite3.connect('students.db') as conn:
    cursor = conn.cursor()
    cursor.execute('''CREATE TABLE IF NOT EXISTS STUDENTS_DATA
                  (STUDENT_ID INT, STUDENT_NAME TEXT, YEAR_FROM INT)''')
    conn.commit()

Wstawienie danych:

In [ ]:
data = [(1, 4.5), (2, 4.0), (3, 4.2)]

with sqlite3.connect('students.db') as conn:
    cursor = conn.cursor()
    for entry in data:
        sql_statement = '''INSERT INTO STUDENTS_RESULTS(STUDENT_ID, STUDENT_AVG) VALUES (?, ?) '''
        cursor.execute(sql_statement, entry)
    conn.commit()
    cursor.close()

Zamiana słownika na krotkę:

In [ ]:
dct = {"customer_id":'c_100', 'customer_name': 'Adam Kowalski', 'address': 'Warsaw', 'balance': 100, 'pin': 1234}

tup = (dct["customer_id"], dct['customer_name'], dct['address'], dct['balance'], dct['pin'])

print(tup)

Odpytywanie o określoną wartość:

In [ ]:
with sqlite3.connect('students.db') as conn:
    # zwroc uwage na przecinek po nazwisku studenta
    student = ('PIOTR OSTROWSKI',)
    cursor = conn.cursor()
    cursor.execute('''SELECT * FROM STUDENTS_DATA WHERE STUDENT_NAME = (?)''', student)
    rows = cursor.fetchall()

    for row in rows:
        print(row)

Uaktualnienie danych:

In [ ]:
with sqlite3.connect('students.db') as conn:
    cursor = conn.cursor()
    # uaktualnienie danych
    cursor.execute('''UPDATE STUDENTS_DATA 
                        SET YEAR_FROM = 2003
                      WHERE STUDENT_ID=2''')
    # wyświetlenie wyników
    cursor.execute('''SELECT * FROM STUDENTS_DATA''')
    rows = cursor.fetchall()

    for row in rows:
        print(row)

    conn.commit()